
html {
    height: 100%;
}

body {
    background: #000000;
    color: #FFF;
    font-size: 125%;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    line-height: 150%;
    position: relative;
}

button, input, textarea {
    font-size: 100%;
}

.state {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    overflow: auto;
}

.state > * {
    padding: .5em 1em;
}

/* Paired devices state */

#paired-devices .list label {
    display: block;
}

#paired-devices .list label div {
    display: inline-block;
    vertical-align: middle;
}

#paired-devices .list label div span {
    display: block;
}

#paired-devices .list label .address {
    color: rgba(255, 255, 255, .5);
}

/* Terminal state */

#selected-device .address {
    color: rgba(255, 255, 255, .5);
}

#data {
    border-top: 1px solid rgba(255, 255, 255, .5);
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    flex-grow: 1;
    font-family: monospace;
    overflow-x: auto;
    overflow-y: scroll;
    white-space: pre;
}

#data .in {
    color: #F0F4C3;
}

#data .out {
    color: #F8BBD0;
}

#terminal form {
    display: flex;
}

#terminal form input[type=text] {
    min-width: 0;
}

.rosa {
    background:url(../img/rosa004.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:-39px;
    top:117px;
    height:899px;               
    width:899px;                
    transform: rotate(270deg);
}

.interior {
    background:url(../img/interior.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:110px;
    top:266px;
    height:596px;                   /* text area height */
    width:596px;                   /* text area width */
    text-align:center;
                                   /* offset horizontal: half of text area width */
}

.flecha {
    background:url(../img/aguja.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:110px;
    top:266px;
    height:600px;              
    width:600px;               
    transform: rotate(270deg);    
 }
